* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("images/bathroom.png") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}


/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background: url("bathroom.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.hero-content h1 {
  font-size: 52px;
  letter-spacing: 4px;
  color: #d4af37;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
  color: #f0e6c8;
}

/* SECTIONS */
.section {
  padding: 90px 20px;
  text-align: center;
}

.section h2 {
  font-size: 34px;
  color: #d4af37;
  margin-bottom: 25px;
}

.section p {
  max-width: 750px;
  margin: auto;
  font-size: 18px;
  line-height: 1.7;
}

/* BACKGROUNDS */
.marble {
  background: linear-gradient(
      rgba(0,0,0,0.75),
      rgba(0,0,0,0.75)
    ),
    url("bathroom.png") center/cover no-repeat;
}

.dark {
  background: #0e0e0e;
}

/* SERVICES */
.services {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.service-card {
  background: #141414;
  width: 280px;
  padding: 35px 25px;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
}

.service-card h3 {
  color: #d4af37;
  margin-bottom: 12px;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

/* FOOTER */
footer {
  background: #000;
  text-align: center;
  padding: 30px;
  font-size: 14px;
  color: #aaa;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }
}
